/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

label {
  display: inline-flexbox;
  text-align: right;
}

form label {
  font-weight: bold;
    width: 180px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 150px;
  padding: 5px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
  width: 100%;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

#menu {
  display: flex;
}

#menu > li {
  flex: 1;
}


#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#about h2{
  flex:1;
  margin: 10px;
}

#about div{
display: flex;
flex-direction: column;
margin: 10px;
}

#join {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


#join  img{
  flex:1;
  margin: 10px;
  width: 100%;
  height:350px;
}

#join .myform{
flex: 2;
width:100%;
margin: 10px;
}
#join label {
 display: inline-flex;
    width: 180px;
    text-align: right;
    margin-right: 10px;
}

#join input,
  #join select {
    width: 200px;
  }


#join h2 {
  margin-bottom: 0; 
}

.img1{
  width: 350px;
  margin: 10px;
}

#about > p{
  width: 350px;
}

#download {
  display: flex;
  flex-direction: column;
}

#download > div{
  flex:2;
  text-align: left;
  
}
#download > img{
  width:400px;
}

#blog{
  width: 100%;
}
#blog h2{
  margin-bottom: 10px;
  text-align: center;
}
.main-blog {
  display: flex;
  flex-direction: column;
  align-items:start;

}

.blog-post{
  flex-basis: 100%;
  padding: 10px;
}

.blog-post img, p{
  width: 350px;
}


/* -------  Media Query ------- */

/* Desktop View Media Query */

@media all and (min-width: 800px) {
  header {
    display: flex;
  }


header > div{
  flex: 1;
}

header > nav{
  flex:1;
}

#menu{
  display: flex;
}

#join {
  display: flex;
  flex-direction: row;
}


#join  img{
  flex:2;
  margin: 10px;
  height: 400px;
  width: 70%;
}

#join .myform{
flex: 1;
margin: 10px;
text-align: right;
width:30%;

}
#join label {
  display: inline-flex;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
#join input,
  #join select {
    width: 200px;
  }


#join h2 {
  margin-bottom: 0; 
}


#about {
  display: flex;
  flex-direction: column;
}
#about h2{
  flex:1;
  margin: 10px;
}

#about div, img, p{
display: flex;
flex-direction:row;
align-items: flex-start;
 margin: 10px;

}

#about img {
  width: 25%;
  height: 250px;
  margin-bottom: 20px;
}
#about p {
 width: 50%;
  margin-top: 50px;
}


#download {
  display: flex;
  flex-direction: row;
}

#download > div{
flex: 2;
margin-top: 110px;
margin-left:150px;
width:70%;
}
#download > img{
  flex: 2;
  height: 500px;
}

#download ul{
  position: relative;
  top: 5px;
 }

#blog{
  width: 100%;
}

#blog h2{
  margin-top: 10px;
margin-right: 100px;
  
}
.main-blog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.blog-post{
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.blog-post img{
  width: 550px;
  height: 350px;
}


.blog-post h3{
  width: 550px;
}

.blog-post p{
  width: 550px;
  height: 150px;
}


footer{
  display: flex;
  flex-direction: row;

}

footer p{
flex:2;
height: 40px;
margin-left: 550px;


}

}